<div class="row">
  <div class="col">
    <p class="h1" *ngIf="!loading">VEHÍCULOS</p>
  </div>
  <div class="card-columns m-5">
    <div (click)='verVehiculo(vehiculo)' *ngFor="let vehiculo of vehiculos; let i=index" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ vehiculo.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Características del vehiculo</h6>
        <p class="card-text">
          <span>Modelo: {{ vehiculo.model }} </span><br>
          <span>Fabricado por: {{ vehiculo.manufacturer }} </span><br>
          <span>Costo en creditos: {{ vehiculo.cost_in_credits }} </span><br>
          <span>Pasajeros: {{ vehiculo.passengers }} </span>
        </p>
      </div>
    </div>
  </div>
</div>