<div class="card-columns">
  <div *ngFor="let personaje of personajes; let i=index" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ personaje.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Características del personaje</h6>
      <p class="card-text">
         <span>Altura: {{ personaje.height }} cms</span><br>
         <span>Masa Corporal: {{ personaje.mass }} kg</span><br>
         <span>Color de cabello: {{ personaje.hair_color }} </span><br>
         <span>Color de Piel: {{ personaje.skin_color }} </span>
      </p>
    </div>
  </div>
  
</div>
