<app-loading *ngIf="loading" class="m-5"></app-loading>
<div class="row">
  <div class="col">
    <p class="h1" *ngIf="!loading">PERSONAJES</p>
  </div>
  <div *ngIf="!loading" class="card-columns m-5 animated fadeIn">
    <div
      *ngFor="let personaje of personajes; let i = index"
      class="card puntero"
    >
      <div class="card-body">
        <h5 class="card-title">{{ personaje.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Características del personaje
        </h6>
        <p class="card-text">
          <span>Altura: {{ personaje.height }} cms</span><br />
          <span>Masa Corporal: {{ personaje.mass }} kg</span><br />
          <span>Color de cabello: {{ personaje.hair_color }} </span><br />
          <span>Color de Piel: {{ personaje.skin_color }} </span>
        </p>
        <a href="#" class="badge badge-info">Ver mas...</a>
      </div>
      <div class="fixed-bottom row m-5 center">
        <div class="col">
          <a class="float-left m-3" (click)="previousPage()">
            <i class="fas fa-angle-double-left fa-3x alert-link"></i>
          </a>
        </div>
        <div class="col">
          <a class="float-right m-3" (click)="nextPage()">
            <i class="fas fa-angle-double-right fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
